/* Font Styles
font-family: 'BenchNine', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Questrial', sans-serif; */

*{
    box-sizing: border-box;
}
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Dosis', sans-serif;
    /* line-height: 1.6; */
    color: #666;
    background: #F6F6F6;
  }
 .row .col{
   padding: 0 10em 0 0;
   /* margin: 1em; */
 }
 /* .preloader-wrapper{
   flex-direction: row;
   justify-content: center;
   align-items: center;
 } */
 .card.medium{
   height: 400px;
   width: 30%;
 }
  /* #formRow{
    background-color: purple;
  }
  #btnRow{
    background-color: teal;
  }
  #columns{
    background-color: greenyellow; */
  /* } */
  .input-field, .input{
    width: 100% !important;
   margin: 3em 3em 1em 3em !important;
   font-size: 20px !important;
  }
input:focus{
    border-bottom: 2px solid pink !important;
}
.searchInput{
    font-family: 'BenchNine', sans-serif;
    font-size: 20px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.cardContainer{
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}
#inputContainer{
  /* background-color: pink; */
  flex-direction: column;
}
.btn{
  margin: 0 2rem;
  background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}
.card{
    margin: 1rem;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px; 
     overflow: hidden;
     background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
     transition: all .2s linear;
}
.card-reveal{
  background-image: linear-gradient(120deg, #6ae3c7 0%, #8fd4e7 100%);
}
.card:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
  }


 
  .card:nth-child(3n) {
    background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
  }
  .card:nth-child(2n) {
    background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
  }
  .card:nth-child(4n){
    background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
  }
  /* @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  } */